<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/Style.css}">
</head>
<body>
	<div class="container">

		<h1>Admin home</h1>
		<br> <a class="button-link" href="newSong">Add a new Song </a><br> 
		<a class="button-link" href="viewSongs">View All the Songs</a><br> 
		<a class="button-link" href="createPlayList">Create PlayList</a><br> 
		<a class="button-link" href="viewPlayLists">View PlayLists</a><br>
	</div>
</body>
</html>